

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; 
  padding: 10px;
}


/* JUMBOTRON STYLE */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  background-color: #06aed5;
  color: white;
  border-radius: 0;
  border-bottom: 10px solid black;
  border-bottom: 10px solid #53c7e1;
}

.description {
  white-space: pre-wrap;
}

/* TIME BLOCK STYLES */

.time-block {
  text-align: center;
  border-radius: 15px;
}

.description {
  white-space: pre-wrap;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  border-top: 1px dashed #000000;
}


/* TIME STYLES */

.past {
  background-color: #d3d3d3;
  background-color: #d3d3d3 !important;
  color: white;
}

.present {
  background-color: #ff6961;
  background-color: #61d2ff !important;
  color: white;
}

.future {
  background-color: #77dd77;
  background-color: #8fedfc !important;
  color: white;
}


/* BUTTON STYLE */

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px; 
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.container {
  padding-bottom: 50px;
  margin-bottom: 10px;
}